body {
    font-family: "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "Microsoft YaHei UI", "WenQuanYi Micro Hei", "文泉驿雅黑", "Segoe UI", Helvetica, sans-serif, Tahoma, Arial, Geneva, Palatino, "Times New Roman", Dengxian, "等线体", STXihei, "华文细黑", "Liberation Sans", "Droid Sans", NSimSun, "新宋体", SimSun, "宋体";
    color: #222222;
    line-height: 1.5;
    padding: 15px;
    background: #ffffff;
    font-size: 16px;
}

.button:hover {
    background: #1a9be7;
    text-decoration: none;
    color: #fff;
}

.separator {
    padding: 0px 20px;
    height: 2px;
    background: #2784c2;
}

.button {
    padding: 4px 20px;
    border: 1px solid #2784c2;
    background: #008bdd;
    text-decoration: none;
    color: #fff;
    display: inner-block;
    border-radius: 4px;
    margin-bottom: 5px;
}

#content_progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* Progress bar container for Firefox/IE10+ */
    background-color: transparent;

    /* Progress bar value for IE10+ */
    color: #35a935;
}

#content_progress::-webkit-progress-bar {
    background-color: transparent;
}

#content_progress::-webkit-progress-value {
    background-color: #35a935;
}

#content_progress::-moz-progress-bar {
    background-color: #35a935;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

p {
    line-height: 2.0;
}

h1, h2, h3, h4, h5, h6, blockquote {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 19px;
}

h6 {
    font-size: 18px;
}

a {
    color: #0099ff;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

ul, ol {
    padding: 0;
    padding-left: 8px;
    line-height: 24px;
}

code {
    font: consolas, Menlo, "Deja Vu Sans Mono", "Source Code Pro", 'Courier New', monospace
    font-size: 16px;
}

pre {
    border-left: 10px solid #00897B;
    padding: 10px 20px;
    color: #222222;
    background-color: #E0E0E0;
    line-height: 1.5;
    font-family: Consolas, Monaco, Monospace, Courier;
}

blockquote {
    border-left: 10px solid #7a7a7a;
    color: #666;
    padding: 10px 20px;
}

hr {
    display: block;
    text-align: left;
    padding: 0px 0px;
    border: none;
    height: 2px;
    background: #999;
}

table {
    border: 2px solid #cccccc;
}

th {
    border: 1px solid #cccccc;
    padding: 6px 13px;
    background: #eeeeee;
    font-weight: bold;
}

td {
    border: 1px solid #cccccc;
    padding: 6px 13px;
}
